
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h2>Index</h2>
<ul>
    @foreach(var i in ViewBag.CNames)
            {
                <li>@i</li>
            }
</ul>

